.galerie{
    background-color: black;
}

.big-video iframe{
    width: 100%;
    height: 600px;
}

.small-videos{
    display: block;
}

.small-video{
    width: 30%;
    display: inline-block;
    margin: 5px 5px;
}

.small-video img{
    width: 100%;
    height: auto;
}

.text-video{
    text-align: center;
    background-color: white;
    padding: 20px;
    height: 50px;
}

.date{
    float: left;
}

.lieu{
    float: right;
}

.bandeaux{
    width: 100%;
    height: 200px;
    display: flex;
    padding-top: 50px;
}

.bandeaux-block{
    margin-top: 40px;
    /*width: 50%;*/
    /*height: 100%;*/
    display: inline-block;
    margin: 10px auto;
}

.button{
    margin: 0 auto;
    width: 80%;
    background-color: #ffb000;
    padding: 10px 20px;
}

.subtitle-galerie{
    margin: 0 auto;
    width: 100%;
    color: white;
}

.subtitle-galerie h1{
    margin: 0;
}


.border-top-galerie {
    width: 50px;
    height: 30px;
    border-top:2px solid white;
    border-left:2px solid white;
    left: -20px;
    top: 0px;
    position: relative;
}

.border-bottom-galerie {
    width: 50px;
    height: 30px;
    border-bottom:2px solid white;
    border-right:2px solid white;
    right: -20px;
    float: right;
    bottom: 0px;
    position: relative;
}

.photos{
    display: block;
}

.photo{
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: 5px 5px;
    background-color: #ffb000;
    color: white;
    vertical-align: top;
    line-height: 190px;
    font-size: 30px;
    font-family: "4L", sans-serif;
    position: relative;
}

.photo img{
    width: 100%;
    height: 100%;
}

.photo img:hover{
    cursor: zoom-in;
    opacity: 0.3;
}

.text{
    transition: .5s ease;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #EFEFEF;
    position: absolute;
    cursor: zoom-in;


    /*display: inherit;*/
}

.photo:hover img{
    transition: .5s ease;
    opacity: 0.3;
}

.photo:hover .text{
    opacity: 1;
}
