@font-face{
    font-family: "4L";
    src: url("../fonts/Captureit.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

body {
    font-family: Raleway;
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: black;
}

.links ul {
    margin: 0;
}

.links ul li{
    font-family: "4L";
    font-size: 1.5em;
    display: inline-block;
    line-height: 70px;
    margin: 0px 10px;
    color: #ffb000;
}

.links ul li:hover{
    color: #EC5A23;
}